
$font-family: 'Arial', sans-serif;

$font-size-base: 16px; 
$font-size-small: 14px; 
$font-size-medium: 18px; 


@mixin titolo-grande {
    font-size: 24px;
    font-weight: bold;
    color: #333; 
    margin-bottom: 20px; 
}

